/* Makes our label white. */
.blocklyTreeLabel {
  color: black;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
   height: 30px !important;
   line-height: 60px;
   padding: 3px;
  margin-bottom: .5em;
  border-radius: 5px;
}
/* Changes color of the icon to white. */
.customIcon {
  color:  black;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blocklyTreeRow {
  height: initial;
}
/* .blocklyTreeIcon{
background:url(logo_only.svg);
    content: "\A";  
}
 */
